body{

    background-color: rgb(209, 209, 209);

}

.wrapper {

    margin-top: 50px;

}

#timer {

    float: right;
    margin-right: 20px;

}


#userSubmit, #beginQuiz {

    float: right

}

#TimeOut  {

    position: relative;
    text-align: center;
}

#TimeOut a {

    color: rgb(22, 1, 143);
    display: inline-block;

}

#leaderboard h5 {

text-align: center;

}

#leaderboard {

   

}